<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ResourceId>/subscriptions/58b6da34-5193-4c18-b814-fa2444677c8a/resourcegroups/MVCGroup/providers/Microsoft.Web/sites/Saleh</ResourceId>
    <ResourceGroup>MVCGroup</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://saleh.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>0bcb5bab-536b-4e7f-91e5-aa25f8e19b2b</ProjectGuid>
    <PublishUrl>https://saleh.scm.azurewebsites.net/</PublishUrl>
    <UserName>$Saleh</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>